<html>
      {% include "afterloginnav.html" %}</br></br>

            <head>
                <title>
                   Welcome
                </title>
                </head>
            <style>
                  h1{
                  width: 250px;
                  text-decoration: khaki;
                  }
        ul{
            text-align: center;
          list-style:inside;
        }
        .body{
        background-color: wheat;

        }
        h3{
              text-align: center;
              color: blue;
        }
            </style>
        <body class="body">

            <br>
        <h1 style="color: red;">Welcome <span style="color: blue;">Back</span></h1><br>
        <hr>
        <h3> Rules of Library</h3>
        <div >
            <ul >
            <li>Maintain silecnce</li>
            <li>Submit the book before last date</li>
            <li> After reading keep the book in their respenctive shelves</li>
        </ul>

        </div>

      </body>

<br><br><br><br>
<div>
      {% include "footer.html" %}
</div>

</html>
